# Pulling this project to an existing folder:
# git init
# git remote add origin "https://github.com/CarlosLeyvaAyala/Max-Sick-Gains.git"
# git pull origin master
# git branch -M main

*VSCodeCounter*
_ignore/*
*.code-workspace
*.pex
*.zip
*.7z
# *.bsa
meta.ini
*.tes
**/serpent.lua
.vscode/numbered-bookmarks.json
# No need to upload these to github, since they are going to be built
*.exe
**/.mypy_cache/


# docs/programmer/diagrams/pngquant.exe
textures/_src/Source textures.7z
